[workspace]
members = ["workspace/apps/perpetuals/contracts"]

[workspace.dependencies]
starknet = "2.12.2"
assert_macros = "2.12.2"
openzeppelin = "2.0.0"
openzeppelin_testing = "4.6.0"
snforge_std = "0.48.1"
starkware_utils = { git = "https://github.com/starkware-libs/starkware-starknet-utils", branch = "main" }
starkware_utils_testing = { git = "https://github.com/starkware-libs/starkware-starknet-utils", branch = "main" }
token_migration = { git = "https://github.com/starkware-libs/usdc-migration"}

[scripts]
test = "snforge test"

[profile.dev.cairo]
unstable-add-statements-code-locations-debug-info = true
unstable-add-statements-functions-debug-info = true
inlining-strategy = "avoid"

[profile.release.cairo]
inlining-strategy = "avoid"

[workspace.tool.scarb]
allow-prebuilt-plugins = ["snforge_std"]
