[workspace]
members = ["workspace/apps/perpetuals/contracts", "workspace/vault/"]

# TODO(Mohammad): upgrade scarb, snforge, and oz versions.
[workspace.dependencies]
starknet = "2.12.1"
assert_macros = "2.12.1"
openzeppelin = { git = "https://github.com/OpenZeppelin/cairo-contracts", commit = "fc942069996633e13f11de0710c586b7d2ed8df7" }
snforge_std = "0.48.1"
starkware_utils = { git = "https://github.com/ex10ded/starkware-starknet-utils", branch = "main" }
starkware_utils_testing = { git = "https://github.com/ex10ded/starkware-starknet-utils", branch = "main" }

[scripts]
test = "snforge test --max-n-steps 10000000000"

[profile.dev.cairo]
unstable-add-statements-code-locations-debug-info = true
unstable-add-statements-functions-debug-info = true
inlining-strategy = "avoid"

[profile.release.cairo]
inlining-strategy = "avoid"

[workspace.tool.scarb]
allow-prebuilt-plugins = ["snforge_std"]
