name: Deploy TESTNET

on:
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install asdf & tools
        uses: asdf-vm/actions/install@v4

      - name: install starkli
        run: |
          curl https://get.starkli.sh | sh
          . /home/runner/.config/.starkli/env
          starkliup

      - name: Retrieve account info
        run: |
          . /home/runner/.config/.starkli/env
          echo ${{ secrets.TESTNET_DEPLOYER_ACCOUNT_JSON }} | base64 --decode > deployer_account.json
          cat deployer_account.json

      - name: Build contracts
        run: |
          scarb --release build

      - name: Deploy contracts
        id: deploy_contracts
        run: |
          . /home/runner/.config/.starkli/env

          CORE_HASH=$(starkli declare -w target/release/perpetuals_Core.contract_class.json  --casm-file target/release/perpetuals_Core.compiled_contract_class.json --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }})
          VAULT_COMPONENT_HASH=$(starkli declare -w target/release/perpetuals_VaultsManager.contract_class.json --casm-file target/release/perpetuals_VaultsManager.compiled_contract_class.json --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }})
          TRANSFER_COMPONENT_HASH=$(starkli declare -w target/release/perpetuals_TransferManager.contract_class.json --casm-file target/release/perpetuals_TransferManager.compiled_contract_class.json --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }})
          WITHDRAWAL_COMPONENT_HASH=$(starkli declare -w target/release/perpetuals_WithdrawalManager.contract_class.json --casm-file target/release/perpetuals_WithdrawalManager.compiled_contract_class.json --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }})
          LIQUIDATION_COMPONENT_HASH=$(starkli declare -w target/release/perpetuals_LiquidationManager.contract_class.json --casm-file target/release/perpetuals_LiquidationManager.compiled_contract_class.json --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }})
          DELEVERAGE_COMPONENT_HASH=$(starkli declare -w target/release/perpetuals_DeleverageManager.contract_class.json --casm-file target/release/perpetuals_DeleverageManager.compiled_contract_class.json --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }})
          DEPOSIT_COMPONENT_HASH=$(starkli declare -w target/release/perpetuals_DepositManager.contract_class.json --casm-file target/release/perpetuals_DepositManager.compiled_contract_class.json --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }})

          starkli invoke -w 0x01227f8e185ade13021f179e1cf0c08dac7f02e27d54addfdd93d9087108f796 add_new_implementation "${CORE_HASH}" 1 0 --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }}
          starkli invoke -w 0x01227f8e185ade13021f179e1cf0c08dac7f02e27d54addfdd93d9087108f796 replace_to "${CORE_HASH}" 1 0 --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }}


          starkli invoke -w 0x01227f8e185ade13021f179e1cf0c08dac7f02e27d54addfdd93d9087108f796 register_external_component str:VAULTS "${VAULT_COMPONENT_HASH}" --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }}
          starkli invoke -w 0x01227f8e185ade13021f179e1cf0c08dac7f02e27d54addfdd93d9087108f796 register_external_component str:TRANSFERS "${TRANSFER_COMPONENT_HASH}" --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }}
          starkli invoke -w 0x01227f8e185ade13021f179e1cf0c08dac7f02e27d54addfdd93d9087108f796 register_external_component str:WITHDRAWALS "${WITHDRAWAL_COMPONENT_HASH}" --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }}
          starkli invoke -w 0x01227f8e185ade13021f179e1cf0c08dac7f02e27d54addfdd93d9087108f796 register_external_component str:LIQUIDATIONS "${LIQUIDATION_COMPONENT_HASH}" --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }}
          starkli invoke -w 0x01227f8e185ade13021f179e1cf0c08dac7f02e27d54addfdd93d9087108f796 register_external_component str:DELEVERAGES "${DELEVERAGE_COMPONENT_HASH}" --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }}
          starkli invoke -w 0x01227f8e185ade13021f179e1cf0c08dac7f02e27d54addfdd93d9087108f796 register_external_component str:DEPOSITS "${DEPOSIT_COMPONENT_HASH}" --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }}

          starkli invoke -w 0x01227f8e185ade13021f179e1cf0c08dac7f02e27d54addfdd93d9087108f796 activate_external_component str:VAULTS "${VAULT_COMPONENT_HASH}" --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }}
          starkli invoke -w 0x01227f8e185ade13021f179e1cf0c08dac7f02e27d54addfdd93d9087108f796 activate_external_component str:TRANSFERS "${TRANSFER_COMPONENT_HASH}" --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }}
          starkli invoke -w 0x01227f8e185ade13021f179e1cf0c08dac7f02e27d54addfdd93d9087108f796 activate_external_component str:WITHDRAWALS "${WITHDRAWAL_COMPONENT_HASH}" --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }}
          starkli invoke -w 0x01227f8e185ade13021f179e1cf0c08dac7f02e27d54addfdd93d9087108f796 activate_external_component str:LIQUIDATIONS "${LIQUIDATION_COMPONENT_HASH}" --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }}
          starkli invoke -w 0x01227f8e185ade13021f179e1cf0c08dac7f02e27d54addfdd93d9087108f796 activate_external_component str:DELEVERAGES "${DELEVERAGE_COMPONENT_HASH}" --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }}
          starkli invoke -w 0x01227f8e185ade13021f179e1cf0c08dac7f02e27d54addfdd93d9087108f796 activate_external_component str:DEPOSITS "${DEPOSIT_COMPONENT_HASH}" --account deployer_account.json --rpc ${{ secrets.TESTNET_RPC }} --private-key ${{ secrets.TESTNET_DEPLOYER_KEY }}

          echo "CORE_HASH=$CORE_HASH" >> $GITHUB_OUTPUT
          echo "Deployed Core contract with class hash: $CORE_HASH"
