name: CI

on:
  pull_request:

jobs:
  cairo_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: foundry-rs/setup-snfoundry@v3
        with:
          starknet-foundry-version: "0.48.1"

      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.12.1"

      - name: Install cairo-coverage
        run: |
          curl -L https://raw.githubusercontent.com/software-mansion/cairo-coverage/main/scripts/install.sh | sh

      - name: Run test and coverage
        run: scarb test

      - name: Check formatting
        run: scarb fmt -w --check

  python_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install asdf
        run: scripts/install_asdf.sh

      - name: Install starknet-devnet
        run: |
          asdf plugin add starknet-devnet
          asdf install starknet-devnet 0.3.0
          asdf global starknet-devnet 0.3.0

      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.12.1"

      - name: Build Contracts
        run: scarb build

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'

      - run: pip install -r requirements.txt

      - name: Run Python Tests
        run: scripts/python_tests.sh
